<h1>ToDoMailer</h1>

<table>
  <thead>
    <tr>
      <th>このアプリについて</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
          このアプリでTodolistを作ることができます。<br>
          あなたが立てた予定が達成することができなかった場合、<br>
          メールにて通知されます。<br>
          アプリを利用する場合は新規登録orログインをクリックしてください。<br>
          アプリの中身を確認する場合は、　アプリの中身を見る　をクリックしてください。
      </td>
    </tr>
  </tbody>
</table>

<td><%= link_to 'アプリの中身を見る(ゲストログイン機能)', users_guest_sign_in_path, method: :post  %></td>
<td><%= link_to 'アプリの中身を見る(ゲストログイン機能(管理者))', users_admin_guest_sign_in_path, method: :post  %></td>
